{% if enabled %}
<div class="portrait-wrapper"
     style="
            --ox: {{ ox }};
            --oy: {{ oy }};
            --cx: {{ cx }};
            --cy: {{ cy }};
            --cw: {{ cw }};
            --ch: {{ ch }};
            aspect-ratio: {{ cw }}/{{ ch }};">

  <img
    src="{{ src }}"
    alt=""
    class="portrait-img"
    style="
      --ox: {{ ox }};
      --oy: {{ oy }};
      --cx: {{ cx }};
      --cy: {{ cy }};
      --cw: {{ cw }};
      --ch: {{ ch }};
    ">
</div>
{% endif %}